
<div class="card border-dark mb-4">
  <div class="card-header"> </div>
  <div class="card-body">
    <a href="{{link}}" target="_blank">
      <h3 class="card-title">{{heading}}</h3>
    </a>
    <p class="card-text">{{summary}}</p>
    <a href="#" class="btn btn-primary">Save Article</a>
  </div>
</div>