#jumbo {
  background: url("../images/pexels-photo-411086.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  text-shadow: 2px 2px 4px #000000;
}

.shadow-bottom {
  color: #fff;
  text-shadow: 0px -1px 8px white,
               0px 1px 8px white,
               0px -2px 12px black,
               0px 2px 12px black;
}

.bottom-list {
  position: relative;
  bottom: -50px;
  padding: 20px;
}

.sub-display {
  font-family: "Cormorant SC";
  font-weight: 600;
}

#newComment {
  width: 100%;
}

.btn {
  cursor: pointer;
}

#scrape {
  width: 154px;
}