#jumbo {
  background: url("../images/pexels-photo-411086.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  text-shadow: 2px 2px 4px #000000;
}

.sub-display {
  font-family: "Cormorant SC";
  font-weight: 600;
}